{% extends 'base.html.twig' %}
{% block title %}Log in!
{% endblock %}
{% block bootstrap %}
{{parent()}}
{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
<section class="vh-100" style="background-color: #248f8f;">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col col-xl-10">
				<div class="card" style="border-radius: 1rem;margin-top: 54px;height: 500px;">
					<div class="row g-0">
						<div class="col-md-6 col-lg-5 d-none d-md-block">
							<img src="https://thumbs.dreamstime.com/b/fox-cub-reading-book-cute-watercolor-illustration-nursery-print-pastel-colors-fashion-books-decor-cozy-mood-world-day-275354338.jpg"
								alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;height:499px" />
						</div>
						<div class="col-md-6 col-lg-7 d-flex align-items-center">

							<div class="card-body p-4 p-lg-5 text-black">
								<div class="d-flex align-items-center mb-3 pb-1">
									<i class="fas fa-cubes fa-2x me-3" style="color: #f56827;"></i>
									<span class="h1 fw-bold mb-0">Login</span>
								</div>

								<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
								<div>
									{% if error %}
									<div class="alert alert-danger" style="font-size: 11px;">{{
										error.messageKey|trans(error.messageData, 'security') }}</div>
									{% endif %}
								</div>
								<form method="post">

									<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

									<div class="form-outline mb-4">
										<input type="email" name="email" id="inputEmail"
											class="form-control form-control-lg" required autofocus />
										<label class="form-label" for="inputEmail">Email address</label>
									</div>

									<div class="form-outline mb-4">
										<input type="password" name="password" id="inputPassword"
											autocomplete="current-password" class="form-control form-control-lg value="
											{{ last_username }}"" required />
										<label class="form-label" for="inputPassword">Password</label>
									</div>

									<div class=" mb-1">
										<button class="btn btn-lg"
											style="width: 100%;background-color: #3c6363;color: white;" type="submit">
											Sign in
										</button>
										<a class="small text-muted" href="{{path('verify_email')}}"
											style="margin-left: 360px;font-size: 13px;">Forgot password?</a>
									</div>

									{% if app.user %}
									<div class="mb-3">
										You are logged in as
										{{ app.user.userIdentifier }},
										<a href="{{ path('app_logout') }}">Logout</a>
									</div>
									{% endif %}


									<div class="py-4">
										<p class="" style="color: #393f81;font-size: 13px;">Don't
											have an account?</p>

										<a href="{{ path('web_sign_up') }}" class="btn btn-lg"
											style="width: 100%;background-color: rgb(70, 109, 148);color: white;">Create
											new account</a>
									</div>


								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block javascripts %}
{{parent()}}
{% endblock %}