{% extends 'base.html.twig' %}
{% block header %}
{{parent()}}
{% endblock %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css"
	integrity="sha512-UBY4KATrDAEKgEEU+RAfY4yWrK0ah43NGwNr5o/xmncxsT+rv8jp7MI3a00I0Ep3NbAx05U5kw3DvyNCoz+Wcw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="css/backend/list.css">
<link rel="stylesheet" href="css/slider/owl.carousel.min.css">
<link rel="stylesheet" href="css/slider/owl.theme.default.min.css">
<style>
	#scrollUp {
		bottom: 20px;
		right: 20px;
		background-image: url('img/icons/top.png');
		height: 38px;
		width: 38px;
	}
</style>
{% endblock %}

{% block title %}Hello HomeController!
{% endblock %}

{% block slider %}
<div class="home-slider shadow-lg" style="margin-top: 79px;">
	<ul id="slider">
		<li>
			<img src="https://source.unsplash.com/1700x500/?library,books" class="d-block w-100" alt="...">
		</li>
		<li>
			<img src="https://source.unsplash.com/1700x500/?novel,articles," class="d-block w-100" alt="...">

		</li>
		<li>
			<img src="https://source.unsplash.com/1700x500/?book,comic" class="d-block w-100" alt="...">
		</li>
	</ul>
</div>
{% endblock %}

{% block body %}
<div class="px-3 py-0 text-bg-light rounded-4">
	<h2 class="pb-3 border-bottom px-5">English books</h2>
	<div class="row row-cols-1 row-cols-lg-4  g-5 py-5"></div>
	<div id="carouselExampleControls" class="carousel" data-ride="carousel">
		<div class="container rounded-2" style="background-color: silver">
			<div class="carousel-inner">
				{% for data in book %}
				<div class="col">
					<div class="carousel-item apple active">
						<div class="card h-100 overflow-hidden text-bg-light rounded-3 shadow-lg"
							style=" width: 192px; height: 10rem;">
							<img src="{{path('image_show',{path:'books',file: data.file})}}"
								style=" width: 192px; height: 14rem">
							<div class="card-body text-center">
								<p class="card-text">{{data.title}}</p>
								<small>
									<s>$399</s>
								</small>
								<p class="card-text">Price:{{data.price}}</p>
								<a href="{{path('web_book_details',{id: data.id})}}"
									class="book_details btn btn-warning" title="book details"
									data-toggle="tooltip">Explore
								</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
			data-bs-slide="prev">
			<span class="carousel-control-prev-icon avb" aria-hidden="true" style=" width: 7vh;
			height: 7vh;background-color: dimgray; border-radius: 50%;transform: translateY(-15%);"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
			data-bs-slide="next">
			<span class="carousel-control-next-icon vbn" aria-hidden="true" style=" width: 7vh;
			height: 7vh;background-color: dimgray; border-radius: 50%;transform: translateY(-15%);"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
	<div class="row row-cols-1 row-cols-lg-4  g-5 py-5"></div>
</div>

<div class="container py-5" id="custom-cards">
	<h2 class="pb-2 border-bottom">English books</h2>
	<div class="row row-cols-1 row-cols-lg-4  g-5 py-5"></div>
	<div class="row owl-carousel owl-theme">
		{% for data in book %}
		<div class="col">
			<div class="card h-100 d-flex flex-column overflow-hidden bg-light rounded-2 item"
				style=" width: 192px; height: 10rem;">
				<img src="{{path('image_show',{path:'books',file: data.file})}}" style=" width: 192px; height: 14rem">
				<div class="card-body text-center">
					<p class="card-text">{{data.title}}</p>
					<small>
						<s>$399</s>
					</small>
					<p class="card-text">Price:{{data.price}}</p>
					<a href="{{path('web_book_details',{id: data.id})}}" class="book_details btn btn-warning"
						title="book details" data-toggle="tooltip">Explore
					</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>


<p class="pb-2 border-bottom"></p>
<div class="jumbotron p-3 p-md-5 text-white shadow-lg rounded" style="background-color: darkslategray;">
	<div class="col-md-6 px-0">
		<h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
		<p class="lead my-3">Multiple lines of text that form the led, informing new readers quickly and efficiently
			about what's most interesting in this post's contents.</p>
		<p class="lead mb-0">
			<a href="#" class="text-white font-weight-bold">Continue reading...</a>
		</p>
	</div>
</div>
{% endblock %}
{% block javascripts %}
{{parent()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"
	integrity="sha512-p55Bpm5gf7tvTsmkwyszUe4oVMwxJMoff7Jq3J/oHaBk+tNQvDKNz9/gLxn9vyCjgd6SAoqLnL13fnuZzCYAUA=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>
<script src="/js/backend/jquery.scrollUp.min.js"></script>
<script src="/js/swip/owl.carousel.min.js"></script>
<script>
	$(document).ready(function () {
		$('#slider').bxSlider({
			auto: true,
			pager: false,
			slideWidth: 1400
		});
	});
</script>
<script>
	$(function () {
		$.scrollUp({ scrollDistance: 100, scrollSpeed: 500, scrollImg: true });
	});
</script>
<script>
	$(document).ready(function () {
		const multipleItemCarousel = document.querySelector('#carouselExampleControls');
		if (window.matchMedia("(min-width:576px)").matches) {
			const carousel = new bootstrap.Carousel(multipleItemCarousel, {
				interval: false
			})
			var carouselWidth = $('.carousel-inner')[0].scrollWidth;
			var carWidth = $('.carousel-item').width();
			var scrollPosition = 0;

			$('.carousel-control-next').on('click', function () {

				if (scrollPosition < (carouselWidth - (carWidth * 9))) {
					scrollPosition = scrollPosition + carWidth;
					$('.carousel-inner').animate({ scrollLeft: scrollPosition }, 700);
				}
				else {
					$(".carousel-inner").load(location.href + " .carousel-inner");
					scrollPosition = 0;
				}
			});

			$('.carousel-control-prev').on('click', function () {

				if (scrollPosition > 0) {

					scrollPosition = scrollPosition - carWidth;
					console.log(scrollPosition);

					$('.carousel-inner').animate({ scrollLeft: scrollPosition }, 700);
				}
				else {
					$(".carousel-inner").load(location.href + " .carousel-inner");
				}
			});
		}
	})
</script>
<script>
	$('.owl-carousel').owlCarousel({
		loop: false,
		margin: 10,
		nav: true,
		stagePadding: 12,
		dots: false,
		responsive: {
			0: {
				items: 1
			},
			600: {
				items: 3
			},
			1000: {
				items: 5
			}
		}
	})
</script>
{% endblock %}