{% extends 'base_shopkeeper.html.twig' %}

{% block title %}
	{{parent()}}{{title}}
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="//cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-12">
			<table id="list-user" class="table">
				<thead>
					<tr>
						<th>Sl.No</th>
						<th>Customer Name</th>
						<th>Book Name</th>
						<th>Total price</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% set sl = 0 %}
					{% for record in orders %}
						<tr>
							<td>{% set sl = sl + 1 %}
								{{sl}}
							</td>
							<td>{{record.getUser.getFirstname}}
								{{record.getUser.getLastname}}
							</td>
							<td>
								{% for data in record.orderItems %}
									{{data.getBook.getTitle}},
								{% endfor %}
							</td>
							<td>
								{{record.totalPrice}}
							</td>
							<td>
								<a href="{{path('manage_author',{id: record.id})}}">
									<i class="fa fa-pencil" aria-hidden="true"></i>
								</a>
							</td>
						</tr>

					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block javascripts %}

	<script src="//cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function () {
$('#list-user').DataTable();
});
	</script>
	{{parent()}}
{% endblock %}
