{% extends 'base_shopkeeper.html.twig' %}

{% block title %}
	{{parent()}}{{title}}
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="//cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-12">
			<table id="list-user" class="table">
				<thead>
					<tr>
						<th>Sl.No</th>
						<th>Name</th>
						<th>Email</th>
						<th>Cellphone</th>
						<th>Roles</th>
						<th>Address</th>
						<th>Created</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% set sl = 0 %}
					{% for record in users %}
						<tr>
							<td>{% set sl = sl + 1 %}
								{{sl}}
							</td>
							<td>{{record.firstname}}{{" "}}{{record.lastname}}</td>
							<td>{{record.email}}</td>
							<td>{{record.cellphone}}</td>
							<td>
								{% set roleArr = record.roles %}
								{{roleArr[0]}}
							</td>
							<td>{{record.address}}</td>
							<td>{{record.created|date('d-m-y h:i:s')}}</td>
							<td>
								<a href="{{path('web_user_manage',{id: record.id})}}">
									<i class="fa fa-pencil" aria-hidden="true"></i>
								</a>
							</td>
						</tr>

					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script src="//cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function () {
$('#list-user').DataTable();
});
	</script>
{% endblock %}
