{% extends 'base_shopkeeper.html.twig' %}
{% block stylesheets %}
	{{parent()}}
{% endblock %}
{% block bootstrap %}
	{{parent()}}
{% endblock %}
{% block body %}

<div class="row">
		<div class="col-6 py-7">
			<div class="shadow p-4 bg-white">
				{{ form_start(form) }}
				<div class="row">
					<div class="col-8">
						{{ form_row(form.name) }}
					</div>
					<div class="col-4 py-4">
						<button type="submit" class="btn btn-lg btn-primary">{{btn}}</button>
					</div>
				</div>
				{{ form_rest(form) }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{parent()}}
{% endblock %}