{% extends 'base.html.twig' %}
{% block bootstrap %}
{{parent()}}
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .add_address_box {
        border: dashed 2px midnightblue;
    }

    .price_details,
    .exist_address {
        border-width: 2px;
        border-color: greenyellow;
        border-style: inset;
    }
</style>

{% endblock %}
{% block body %}

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row p-3">
                    <div class="col-12">
                        {{ form_start(form, { 'attr' : { 'id': 'add-form' } })}}
                        <input type="hidden" name="shipping" value="{{address_id}}">

                        <div class="row mb-3">
                            <div id="max"></div>
                            <div class="col-4">
                                {{ form_row(form.name) }}
                            </div>
                            <div class="col-4">
                                {{ form_row(form.addressLine1) }}
                            </div>
                            <div class="col-4">
                                {{ form_row(form.addressLine2) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                {{ form_row(form.landmark) }}
                            </div>
                            <div class="col-4">
                                {{ form_row(form.cellphone) }}
                            </div>
                            <div class="col-4">
                                {{ form_row(form.pin) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                {{ form_row(form.city) }}
                            </div>
                            <div class="col-4">
                                {{ form_row(form.state) }}
                            </div>
                            <div class="col-4 py-4">
                                <input type="submit" value="Add"
                                    style="width: 122px;font-size: 18px;background-color: yellowgreen;" class="btn">
                            </div>
                        </div>

                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="updateEdit"></div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<div class="return_address">
    <div class="row py-5">
        <div class="col-md-8 py-5">
            <div class="add_address py-4 px-5 m-5 bg-white shadow-lg rounded-5 cart_items" style="width: 100%;">
                <div class="row">
                    <div>
                        <input type="hidden" id="highlighted_address" name="shipping-address" value="{{address_id}}">
                        <span
                            style="font-size: 23px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Choose
                            Address</span>
                        <span
                            style="font-size: 17px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                            (Detailed address will help our delivery partner reach your doorstep
                            quickly)</span>
                    </div>
                    <div class="col-md-4 py-5 add_address_box rounded-2 shadow-lg" data-toggle="modal"
                        data-target="#addModal" style="height: 330px;width: 260px;margin-left: 10px;margin-top: 20px;">
                        <i class="bi bi-plus-circle"
                            style="display: block;margin-left: 90px; font-size:5rem;margin-top: 50px;"></i>
                        <p
                            style="font-size: 20px;margin-left: 48px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                            Add new address</p>
                    </div>
                    {% if app.user.shippingAddresses %}
                    {% for record in app.user.shippingAddresses %}
                    {% if record.status == 'Active' %}
                    <div class="col-md-4 py-2 exist_address rounded-2 bg-light"
                        style="width: 260px;margin-left: 10px;margin-top: 20px;">
                        <h3 class="py-2 m-3 text-center rounded-3 text-white" style="background-color: darkcyan;">
                            Address</h3>
                        <span style="font-size: 16px;margin-left: 25px">{{record.name}}</span><br>
                        <span style="font-size: 16px;margin-left: 25px">{{record.addressLine1}}</span><br>
                        <span style="font-size: 16px;margin-left: 25px">{{record.addressLine2}}</span><br>
                        <span style="font-size: 16px;margin-left: 25px">{{record.city}}-{{record.pin}}</span><br>
                        <span style="font-size: 16px;margin-left: 25px">{{record.state}}</span><br>
                        <span style="font-size: 16px;margin-left: 25px">Ph-{{record.cellphone}}</span><br>
                        <p class="py-2" style="margin-left: 10px;">

                            {% if record.id == address_id %}
                            <a href="{{path('make_payment',{id: record.id})}}" style="font-size: 14px;width: 220px;"
                                class="btn btn-warning">DELIVER HERE</a><br><br>
                            {% else %}
                            <a href="{{path('make_payment',{id: record.id})}}" style="font-size: 14px;width: 220px;"
                                class="btn btn-danger">DELIVER HERE</a><br><br>
                            {% endif %}
                            <span>
                                <a href="#" style="font-size: 14px;width: 110px;"
                                    class="btn btn-outline-dark update_address" userId="{{record.id}}">Edit
                                </a>
                            </span>
                            <span>
                                <a href="#" style="font-size: 14px;width: 110px"
                                    class="btn btn-outline-dark delete_address" onclick="alert('Are you sure?')"
                                    userId="{{record.id}}">Delete
                                </a>
                            </span>
                        </p>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                <br><br>
            </div>
        </div>

        <div class="col-md-4 py-5">
            <div class="py-4 px-5 m-5 bg-white shadow-lg rounded-2 price_details" style="width: 90%;">

                <span class="h4 py-3">Sub Total :</span>
                <span class="h4" style="margin-left: 159px;">
                    {% set price = 0 %}
                    {% for item in app.user.getCart.getCartItem %}
                    {% set price = price + item.book.price*item.quantity %}
                    {% endfor %}
                    ₹{{price}}
                </span>
                <br><br>
                <span class="h4 py-3">Shipping Cost :</span>
                <span class="h4" style="margin-left: 130px;">₹70
                </span>
                <p style="font-size: 13px;color: dimgray;">(For India)</p>
                <p class="pb-3 border-bottom"></p>
                <br>
                <span class="h4 py-3">Total Cost :</span>
                <span class="h4" style="margin-left: 160px;">₹{{price+70}}
                </span>
                <br><br>
                <p class="pb-3 border-bottom"></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{parent()}}
<script>
    $(".add_address_box").mouseenter(function () {
        $(this).css("background-color", "rgb(225, 252, 124)");
    });
    $(".add_address_box").mouseleave(function () {
        $(this).css("background-color", "white");
    });
</script>
<script>
    jQuery('body').on('click', '.update_address', function () {
        var id = jQuery(this).attr('userId');
        var shipping = $('#highlighted_address').val();

        $.ajax({
            type: "GET",
            url: "{{ path('ajax_get_address_form')}}",
            data: {
                id, shipping
            },
            dataType: 'json',
            success: function (returns) {
                jQuery('#updateEdit').html(returns);
                jQuery('#editModal').modal('show');
            },
            error: function (xhr) { }
        });
    })

    jQuery('body').on('submit', "#edit-form,#add-form", function (e) {
        e.preventDefault();
        var formURL = "{{ path('ajax_add_shipping_address') }}"
        var formData = new FormData(jQuery(this)[0]);
        $.ajax({
            type: "POST",
            url: formURL,
            data: formData,
            dataType: 'json',
            processData: false,
            cache: false,
            contentType: false,
            success: function (returns) {
                jQuery(".add_address").html(returns);
                // $("#editModal .close").click();
                jQuery('#editModal').modal('hide');
                jQuery('#addModal .close').click();
            },
            error: function (xhr) { }
        });

    });
</script>
<script>
    jQuery('body').on('click', ".delete_address", function (e) {
        var id = jQuery(this).attr('userId');
        var abc = $('#highlighted_address').val();
        $.ajax({
            url: "{{ path('ajax_delete_shipping_address') }}",
            type: "GET",
            data: {
                id, abc
            },
            dataType: 'json',
            success: function (returns) {
                jQuery(".add_address").html(returns);
            },
            error: function (xhr) { }
        });

    })
</script>
{% endblock %}