{% extends 'base.html.twig' %}
{% block bootstrap %}
{{parent()}}
{% endblock %}
{% block stylesheets %}
{{(parent())}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
	.checked {
		color: yellow;
		font-size: 20px;
	}

	.unchecked {
		font-size: 20px;
	}

	th {
		font-size: 15px;
	}

	td {
		font-size: 15px;
	}

	.tab {
		overflow: hidden;
		border: 1px solid #ccc;
		background-color: #f1f1f1;
	}

	/* Style the buttons inside the tab */
	.tab button {
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		transition: 0.3s;
		font-size: 17px;
	}

	/* Change background color of buttons on hover */
	.tab button:hover {
		background-color: #ddd;
	}

	/* Create an active/current tablink class */
	.tab button.active {
		background-color: cadetblue
	}

	/* Style the tab content */
	.tabcontent {

		padding: 0px 12px;
		border: 1px solid #b39292;
		width: 100%;

	}
</style>
{% endblock %}
{% block body %}

<div class="row py-5" style="background-color: rgb(240, 251, 251);">
	<div class="col-md-5 py-3 col-sm-6">
		<div class="product-main-image py-5" style="position: relative; overflow: hidden;">
			<img src="{{path('image_show',{path:'books',file: book.file})}}"
				alt="Buy Harry Potter And The Chamber Of Secrets Book By J. K. Rowling | BookWorm"
				class=" img-responsive shadow-lg" style="border: 1px solid black; height:460px; width:550px;"
				itemprop="image">
			<img src="{{path('image_show',{path:'books',file: book.file})}}" class="zoomImg"
				style="position: absolute; top: -66.8299px; left: -33.7977px; opacity: 0; width: 300px; height: 461px; border: none; max-width: none;">
		</div>
		<p>
			<strong>Supplemental materials are not guaranteed for used textbooks or rentals
			</strong>
			(access codes, DVDs, CDs, workbooks).
		</p>

	</div>
	<div class="col-md-7 py-5">
		<div class=" mt-3 bg-white shadow-lg" style="width: 100%;">

			<div class="tab">
				<button class="tablinks active" id="cart">Do Cart</button>
				<button class="tablinks" id="description">Book Description</button>
				<button class="tablinks" id="specification">Book Specification</button>
			</div>

			<div id="book_cart" class="tabcontent">
				<div class="container m-3">
					<span style="font-size: 30px;">{{book.title}}</span>
					<span style="font-size: 15px;">
						({{book.binding}})</span>
					<br>
					<span>By:
						<span style="color: red;font-size: 15px;">{{book.author}}
						</span>(Author)</span>
					<br><br>
					<!-- <div class="row row-cols-1 row-cols-lg-4  g-5 py-5"></div> -->
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star unchecked"></span>4/5

					<p class="pb-2 border-bottom"></p>
					<small>
						<s>MRP: ₹{{book.price+169}}</s>
					</small>
					<h3 class="py-2" style="color: blue;">
						<b>MRP: ₹{{book.price}}</b>
					</h3>
					<h5 style="color:gray;">(inclusive all taxes)</h5>

					{% if book.availableBook > 0 %}
					<p style="color: green; font-size: 15px;">Available</p>
					{% else %}
					<p style="color: red;font-size: 12px;">Stock Out</p>
					{% endif %}
					<p style="color: gray;font-size: 15px;">Seller: Bookworm</p>
					<p style="color: gray;font-size: 15px;">Dispatch time: 4-5 working days</p>

					<div class="text-center cart_div">
						{% if item_present == 'no' %}
						<p id="ab">
							<a href="{{path('add_cart',{id: book.id})}}"
								style="width: 290px; height: 65px;font-size: 20px;"
								class="btn btn-lg btn-danger bi bi-cart py-3 shadow-lg" id="add_cart"
								title="Add to cart" data-toggle="tooltip">Add to cart
							</a>
						</p>
						{% elseif cart_item == '1' %}
						<p id="ab">
							<a href="{{path('view_cart')}}" style="width: 290px; height: 65px;font-size: 20px;"
								class="btn btn-lg btn-danger bi bi-cart py-3 shadow-lg" id="add_cart" title="Go to cart"
								data-toggle="tooltip">Go To Cart
							</a>
						</p>
						{% else %}
						<p id="ab">
							<a href="{{path('add_cart',{id: book.id})}}"
								style="width: 290px; height: 65px;font-size: 20px;"
								class="btn btn-lg btn-danger bi bi-cart py-3 shadow-lg" id="add_cart"
								title="Add to cart" data-toggle="tooltip">Add to cart
							</a>
						</p>
						{% endif %}
					</div>
				</div>
			</div>

			<div id="book_description" class="tabcontent" style="display: none;">
				<div class="container mt-3 bg-white shadow-lg" style="height: 390px;">
					<p class="py-3 px-3" style="font-size: 16px;">{{book.description}}</p>
				</div>
			</div>

			<div id="book_specification" class="tabcontent" style="display:none;">
				<div class="py-1 shadow-lg bg-light">
					<!-- <h1 class="bg-light shadow-lg py-2 m-3 text-center text-black">Book Specification</h1> -->
					<p class="pb-3 border-bottom"></p>
					<div class="container">
						<div class="table-wrapper">
							<div class="table-title">
								<div class="row"></div>
							</div>
							<table class="bg-light shadow-lg table table-hover color py-3"
								style="border-spacing: 30px; height: 359px;" id="hidden-table-info">
								<tbody class="m-3">

									<tr>
										<th>Title</th>
										<td>{{book.title}}</td>
										<th>Availability</th>
										{% if book.availableBook > 0 %}
										<td>In stock</td>
										{% else %}
										<td>Stock out</td>
										{% endif %}

									</tr>

									<tr>
										<th>ISBN number</th>
										<td>{{book.isbnNo}}</td>

										<th>Binding</th>
										<td>{{book.binding}}</td>
									</tr>

									<tr>
										<th>Price</th>
										<td>{{book.price}}</td>

										<th>Edition</th>
										<td>{{book.edition}}</td>
									</tr>

									<tr>
										<th>Pages</th>
										<td>{{book.pageNo}}</td>

										<th>Author</th>
										<td>{{book.author}}</td>
									</tr>

									<tr>
										<th>publisher</th>
										<td>{{book.publisher}}</td>

										<th>Language</th>
										<td>{{book.language}}</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
{{parent()}}
<script>
	$(document).ready(function () {
		$('#cart').click(function () {
			$('#book_description').hide();
			$('#book_specification').hide();
			$('#description').removeClass('active');
			$('#specification').removeClass('active');
			$('#cart').addClass('active');
			$('#book_cart').show();
		});

		$('#description').click(function () {

			$('#cart').removeClass('active');
			$('#specification').removeClass('active');
			$('#description').addClass('active');
			$('#book_cart').hide();
			$('#book_specification').hide();
			$('#book_description').show();

		});

		$('#specification').click(function () {

			$('#cart').removeClass('active');
			$('#description').removeClass('active');
			$('#specification').addClass('active');
			$('#book_cart').hide();
			$('#book_description').hide();
			$('#book_specification').show();

		});
	})
</script>
{% endblock %}