{% extends 'base.html.twig' %}
{% block bootstrap %}
{{parent()}}
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.add_address {
        border-width: 2px;
        border-color: darkkhaki;
        border-style: groove;
    }
</style>

{% endblock %}
{% block body %}
<div class="row py-5">
    <div class="col-md-6 py-5">
        <div class="add_address py-4 px-5 m-5 bg-white shadow-lg rounded-2" style="width: 100%;">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseOne">
                            <span style="font-size: 20px;">Price</span>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="py-4 px-5 m-2 bg-white shadow-lg rounded-2 price_details" style="width: 90%;">

                                <span class="h4 py-3">Sub Total :</span>
                                <span class="h4" style="margin-left: 240px;">
                                    {% set price = 0 %}
                                    {% for item in app.user.getCart.getCartItem %}
                                    {% set price = price + item.book.price*item.quantity %}
                                    {% endfor %}
                                    ₹{{price}}
                                </span>
                                <br><br>
                                <span class="h4 py-3">Shipping Cost :</span>
                                <span class="h4" style="margin-left: 210px;">₹70
                                </span>
                                <p style="font-size: 13px;color: dimgray;">(For India)</p>
                                <p class="pb-3 border-bottom"></p>
                                <br>
                                <span class="h4 py-3">Total Cost :</span>
                                <span class="h4" style="margin-left: 230px;">₹{{price+70}}
                                </span>
                                <br><br>
                                <p class="pb-3 border-bottom"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                            <span style="font-size: 20px;">Address</span>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div style="font-size: 17px;" class="py-2 px-2 bg-white shadow-lg rounded-2">
                                <div class="px-5">
                                    <a href="{{path('add_shipping_address',{id: address.id})}}"
                                        style="width: 118px;font-size: 18px; margin-left: 350px;background-color: darkred;"
                                        class="btn shadow-lg color_address text-white" title="edit"
                                        data-toggle="tooltip">Edit
                                    </a>
                                    <span>Name: {{address.name}}</span><br>
                                    <span>House/Apt/Flat: {{address.addressLine1}}</span><br>
                                    <span>Location: {{address.addressLine2}}</span><br>
                                    <span>Landmark: {{address.landmark}}</span><br>
                                    <span>Phone No: {{address.cellphone}}</span><br>
                                    <span>City: {{address.city}}</span><br>
                                    <span>PIN: {{address.pin}}</span><br>
                                    <span>State: {{address.state}}</span><br><br>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseThree">
                            <span style="font-size: 20px;">Review Order</span>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <div class="container">
                                <table style="width:100%">

                                    <thead>
                                        <tr class="pb-3 border-bottom"></tr>
                                        <tr style="height: 40px;text-align: center;">
                                            <th><span class="h5" style="text-align: center;">Image</span></th>
                                            <th><span class="h5" style="text-align: center;">Details</span></th>
                                            <th><span class="h5" style="text-align: center;">Quantity</span></th>
                                            <th><span class="h5" style="text-align: center;">Sub Total</span></th>
                                        </tr>
                                        <tr class="pb-3 border-bottom"></tr>
                                    </thead>

                                    <tbody>
                                        {% set sl = 1 %}
                                        {% for item in app.user.getCart.getCartItem %}
                                        <td>
                                            <span class="h5">{{sl}}</span>
                                        </td>
                                        <tr style="height: 150px;text-align: center;">
                                            <td class="product-main-image" style="overflow: hidden;">
                                                <img src="{{path('image_show',{path:'books',file: item.book.file})}}"
                                                    alt="Buy Harry Potter And The Chamber Of Secrets Book By J. K. Rowling | BookWorm"
                                                    class="shadow-lg"
                                                    style="border: 4px solid yellow; height:115px; width:100px;"
                                                    itemprop="image">
                                                <img src="{{path('image_show',{path:'books',file: item.book.file})}}"
                                                    class="zoomImg"
                                                    style="position: absolute; top: -66.8299px; left: -33.7977px; opacity: 0; width: 20px; height: 30px; border: none; max-width: none;">
                                            </td>
                                            <td>
                                                <p><span class="h5" style="color: darkred">{{item.book.title}}</span>
                                                </p>
                                                <p><span class="h5" style="color: black;">By: </span><span
                                                        style="font-size: 14px; color: blue;">{{item.book.author}}</span>
                                                </p>
                                                <p><span class="h5" style="color: black;">Edition: </span><span
                                                        style="font-size: 14px; color: black;">{{item.book.edition}}</span>
                                                </p>
                                                <p><span class="h5" style="color: black;">ISBN: </span><span
                                                        style="font-size: 14px; color: black;">{{item.book.isbnNo}}</span>
                                                </p>
                                            </td>
                                            <td>

                                                <label for="quantity"></label>
                                                <input type="number" style="height: 38px;width: 51px;" min="0"
                                                    max="{{item.book.availableBook}}" id="timer02_min2"
                                                    userId="{{item.book.id}}" value="{{item.quantity}}">
                                                <br>
                                                <p class="py-2">
                                                    <a href="#" style="font-size: 14px;" id="quantity_update"
                                                        class="btn btn-outline-info">Update</a>
                                                </p>
                                            </td>
                                            <td>

                                                <p><span class="h4"
                                                        style="color: darkslategrey;">₹{{item.book.price*item.quantity}}
                                                </p>
                                                </span>

                                                <div class="py-4">
                                                    <a href="{{path('remove_cart_item',{id: item.book.id})}}"
                                                        style="width: 118px;font-size: 18px;"
                                                        class="btn btn-danger shadow-lg remove_item" title="remove"
                                                        data-toggle="tooltip">remove
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="pb-3 border-bottom" style="color: black;"></tr>
                                        {% set sl = sl + 1 %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 py-5">
        <div class="py-4 px-5 m-5 bg-white shadow-lg rounded-2 price_details" style="width: 90%;">

            <span class="h4 py-3">Sub Total :</span>
            <span class="h4" style="margin-left: 159px;">
                {% set price = 0 %}
                {% for item in app.user.getCart.getCartItem %}
                {% set price = price + item.book.price*item.quantity %}
                {% endfor %}
                ₹{{price}}
            </span>
            <br><br>
            <span class="h4 py-3">Shipping Cost :</span>
            <span class="h4" style="margin-left: 130px;">₹70
            </span>
            <p style="font-size: 13px;color: dimgray;">(For India)</p>
            <p class="pb-3 border-bottom"></p>
            <br>
            <span class="h4 py-3">Total Cost :</span>
            <span class="h4" style="margin-left: 160px;">₹{{price+70}}
            </span>
            <br><br>
            <p class="pb-3 border-bottom"></p>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{parent()}}
{% endblock %}