{% extends 'base.html.twig' %}
{% block stylesheets %}
{{parent()}}
{% endblock %}
{% block bootstrap %}
{{parent()}}
{% endblock %}
{% block body %}

<section class="sign-up vh-100 py-5 gradient-custom" style="background-color: #248f8f;">
	<div class="container py-5 h-60">
		<div class="row justify-content-center align-items-center h-100 py-5">
			<div class="col-10 col-lg-9 col-xl-7">
				<div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
					<div class="card-body p-3 p-md-5">
						<h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
						{{ form_start(form) }}


						<div class="row">
							<div class="col-md-6 mb-4">

								{{ form_row(form.firstname) }}

							</div>
							<div class="col-md-6 mb-4">

								{{ form_row(form.lastname) }}

							</div>
						</div>

						<div class="row">
							<div class="col-md-6 mb-4 ">
								{{ form_row(form.email) }}

							</div>
							<div class="col-md-6 mb-4">
								{{ form_row(form.cellphone) }}
							</div>
						</div>

						<div class="row">

							<div class="col-md-12 mb-6">

								{{ form_row(form.address) }}
							</div>

						</div>
						<input type="hidden" id="messg" value="{{msg}}">
						<input type="hidden" id="iconnn" value="{{cv}}">
						<div class="row">
							<div class="col-md-6 mb-4 py-3">
								<label class="form-label" for="_password">Password</label>
								<input type="password" id="_password" name="pass"
									class="form-control form-control-lg" />
							</div>

							<div class="col-md-5 py-5 mb-6">
								<input class="btn btn-primary btn-lg p-2" id="sub" type="submit" value="Submit" />
							</div>
						</div>
						

						<p  style="color: #393f81;font-size: 13px;">you have already registered?
							<a href="/login" style="color: rgb(94, 95, 110);">Sign in</a>
						</p>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
	</div>
</section>{% endblock %}
{% block javascripts %}
{{parent()}}
<script>
	$(document).ready(function () {

		message = $('#messg').val();
		ico = $('#iconnn').val();
		console.log(message);
		console.log(ico);
		if (message != '0' || ico != '0') {
			swal({
				title: message,
				icon: ico,
				button: "Ok",
			});
			$('.sign-up').load(location.href + " .sign-up");
		}

	});

</script>
{% endblock %}