<div class="row">
	<div>
		<span style="font-size: 23px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Choose Address</span>
		<span style="font-size: 17px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
			(Detailed address will help our delivery partner reach your doorstep
			                        quickly)</span>
	</div>
	<div class="col-md-4 py-5 add_address_box rounded-2 shadow-lg" data-toggle="modal" data-target="#addModal" style="height: 330px;width: 260px;margin-left: 10px;margin-top: 20px;">
		<i class="bi bi-plus-circle" style="display: block;margin-left: 90px; font-size:5rem;margin-top: 50px;"></i>
		<p style="font-size: 20px;margin-left: 48px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Add new address</p>
	</div>
	{% if app.user.shippingAddresses %}
		{% for record in app.user.shippingAddresses %}
			{% if record.status == 'Active' %}
				<div class="col-md-4 py-2 exist_address rounded-2 bg-light" style="width: 260px;margin-left: 10px;margin-top: 20px;">
					<h3 class="py-2 m-3 text-center rounded-3 text-white" style="background-color: darkcyan;">
						Address</h3>
					<span style="font-size: 16px;margin-left: 25px">{{record.name}}</span><br>
					<span style="font-size: 16px;margin-left: 25px">{{record.addressLine1}}</span><br>
					<span style="font-size: 16px;margin-left: 25px">{{record.addressLine2}}</span><br>
					<span style="font-size: 16px;margin-left: 25px">{{record.city}}-{{record.pin}}</span><br>
					<span style="font-size: 16px;margin-left: 25px">{{record.state}}</span><br>
					<span style="font-size: 16px;margin-left: 25px">Ph-{{record.cellphone}}</span><br>
					<p class="py-2" style="margin-left: 10px;">
						<a href="#" style="font-size: 14px;width: 220px;" class="btn btn-danger">DELIVER
							                            HERE</a><br><br>
						<span>
							<a href="#" style="font-size: 14px;width: 110px;" class="btn btn-outline-dark update_address" userid="{{record.id}}">Edit
							</a>
						</span>
						<span>
							<a href="#" style="font-size: 14px;width: 110px" class="btn btn-outline-dark delete_address" onclick="alert('Are you sure?')" userid="{{record.id}}">Delete
							</a>
						</span>
					</p>
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
</div>
